iframe{
    margin-left:13%;
    margin-top:5%;
}

.about-page {
    background-image: url('./4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attach: fixed; */
    animation: animate-bg 50s infinite linear;
}




#root{
    width: 100%;
}