@import "./../node_modules/font-face/scss/font-face.scss";
@include font-face('Roboto', 100, normal);
@include font-face('Roboto Condensed', 300, normal);

body{
  margin: 0;
}
.home-route {
  position: relative;
  background-size: cover;
  margin: 0px;
  background-position: center;
} 

.virtical {
  position: absolute; 
  bottom: 270px; 
  left: 56px; 
  font-family: 'Roboto Condensed';
  // transform: rotate(90deg); 
  font-size: 30px;
  color: aliceblue;
  text-decoration: none;
}

.home-bg video {
  /* height: 100vh; */
  width: 100%
}

#small-img{
  width: 100px;
  height: 100px;
  position: absolute;
  left: 50px;
  bottom: 40px; 
} 

  @keyframes animate-bg {
    from { background-size: 100%; background-position: 0% 0%; }
    50% { background-size: 120%; background-position: 0% 20% }
    to { background-size: 100%; background-position: 0% 0%; }
  } 

  #root > div:first-child {
    height: 100vh;
  }

  .logo{
    position: absolute;
    top: 20px;
    left: 17px;
  }

    .indicator{
      position:absolute;
      width:50px;
      height:50px; 
      left: 70px;
      bottom: 200px;
      transform:rotate(45deg);
      span{
        position:absolute;
        left:20;
        top:100;
        width:100%;
        height:100%;
        box-sizing:border-box;
        border:none;
        border-bottom:3px solid #fff;
        border-right:3px solid #fff;
        animation:animate 1s linear infinite;
        &:nth-child(1){
          top:-30px;
          left:-30px;
          animation-delay:0s;
        }
        &:nth-child(2){
          top:-15px;
          left:-15px;
          animation-delay:0.2s;
        }
        &:nth-child(3){
          top:0;
          left:0;
          animation-delay:0.4s;
        }
        &:nth-child(4){
          top:15px;
          left:15px;
          animation-delay:0.6s;
        }
        &:nth-child(5){
          top:30px;
          left:30px;
          animation-delay:0.8s;
        }
      } 
    }
    
  
  @keyframes animate{
    0%{
      border-color:#fff;
      transform:translate(0,0);
    }
     20%{
      border-color:#fff;
       transform:translate(15px,15px);
    }
     20.1%,100%{
      border-colorw: white;
    }
  }
  
  
 
