h1 {
    font-size: 50px;
    margin: 0px;
    padding-left: 10px;
}

.flag-pic{ 
    position: absolute; 
    top: 140px; 
    left: 450px; 
    height: 60px; 
    width: 90px;
    border-radius: 5px; 
} 

.country-info {
    width: 500px;
    margin-left: 70px;
    background-color: aliceblue; 
    background-color: rgba(255,255,255,0.3);
    padding: 15px; 
    border-radius: 20px;
} 
.country-body{ 
    /* background-image: url(https://static-2.gumroad.com/res/gumroad/618114383609/asset_previews/e430b34b1f98b55edcd879858b44d4df/retina/Beautiful_20Sunrise_20Scene_204K_20Nature_20Background_20Flowers_20Plants_20Fog_20Mountains.jpg);  */
    background-size: cover;
    padding-top: 115px;
    /* position: relative; */
}
.info-style {
font-size: 30px; 
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} 
