.country-info {
    position: relative; 
    width: 42%;
    min-width: 400px;
    margin-left: 70px;
    margin-top: 12%;
    background-color: aliceblue; 
    background-color: rgba(255,255,255,0.3);
    padding-left: 30px; 
    padding-right: 30px; 
    padding-bottom: 30px; 
    border-radius: 20px;
    float:left;
    box-shadow: 8px 8px 8px black;
   

} 

.country-info h1 {
    position: relative;
    top: 0;
    left: 0; 
    font-size: 50px;
    margin-bottom: 15px;
    padding-left: 5px;
    text-shadow: 2px 2px gray;
}

.flag-pic{ 
    position: absolute;
    top: 15px;
    right: 30px;
    height: 60px; 
    width: 90px;
    border-radius: 5px; 

} 




.country-info:hover{
    box-shadow: 10px 10px 10px black;

}
.country-body{ 
    /* background-image: url(https://static-2.gumroad.com/res/gumroad/618114383609/asset_previews/e430b34b1f98b55edcd879858b44d4df/retina/Beautiful_20Sunrise_20Scene_204K_20Nature_20Background_20Flowers_20Plants_20Fog_20Mountains.jpg);  */
    background-size: cover;
    padding-top: 115px;
    padding-bottom: 130px;
    height: 200vh;
    /* position: relative; */
}
.info-style {
font-size: 30px; 
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} 
 
 p {
     padding: 3%;
    text-shadow: 2px 2px gray; 
    /* font-weight: bold;  */
}