.ex-home {
    position: absolute; 
    top: 100px; 
    left: 30px; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px; 
    color: aliceblue;
  }  

  /* .page-link { 
    position: absolute; 
    top: 100px; 
    right: 30px; 
   font-family: "Lucida Console", Monaco, monospace; 
   font-style: oblique;
    font-size: 25px; 
    color: aliceblue;
    letter-spacing: 1px; 
  } */

 @import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');


 .page-link {
  position: absolute; 
  white-space: nowrap;
  overflow: hidden;    
  font-family: 'Source Code Pro', monospace;  
  font-size: 38px;
  text-shadow: black;
  font-weight: bold;
  color: white;
  top: 100px; 
  right: 30px; 
  margin-top: 6%;
}


.page-link{
  animation: animated-text 2s steps(30,end) 1s 1 normal both;
}



@keyframes animated-text{
  from{width: 0;}
  to{width: 472px;}
} 

.see-more-button {
  text-decoration: none; 
  color: black;
  font-size: 30px; 
  text-align: center;
  display: flex;
  
} 

#air-img{
  color: aliceblue;
  /* background-color: aliceblue;  */
  /* border-radius: 900px; */
  margin-right: 20%; 
  width: 17%;
  height: 15%;
}

  